.b01{
	width: 100%;
	height: 95px;
}
.b02{
	padding-top: 25px;
	text-align: center;
}
.b03{
	width: 100%;
	height: 557px;
	background: url(../img/loginChoice_con.png) no-repeat top center;
	padding-top: 40px;
}
h2{
	background: url(../img/logtitleH2.png) no-repeat;
	width: 779px;
	height: 60px;
	text-indent: -9999px;
	margin-left: 373px;
}
.b04{
	width: 23%;
	height: 500px;
	margin: 0 auto;
	padding-top: 40px;
	margin-left: 377px;
	float: left;
}
.b04 ul li:nth-child(2){
	background: url(../img/activityLanred.png) no-repeat;
	margin-top: 20px;
}
.b04 ul li:nth-child(2):hover{
	background: url(../img/activityLanredhover.png) no-repeat;
}
.b04 ul li:nth-child(2) a{
	width: 350px;
	height: 80px;
	font-size: 26px;
	font-weight: bold;
	line-height: 80px;
	color: #FFFFFF;
	margin-left: 28px;
	text-decoration: none;	
}
.b04 ul li:nth-child(3){
	background: url(../img/activityLanhover.png) no-repeat;
	margin-top: 20px;
}
.b04 ul li:nth-child(3):hover{
	background: url(../img/activityLan.png) no-repeat;	
}
.b04 ul li:nth-child(3) a{
	width: 350px;
	height: 80px;
	font-size: 26px;
	font-weight: bold;
	line-height: 80px;
	color: #FFFFFF;
	margin-left: 28px;	
	text-decoration: none;
}
.b05{
	float: right;
	width: 23%;
	height: 500px;
	margin: 0 auto;
	padding-top: 40px;
	margin-right: 377px;
}
.b05 ul li:nth-child(2){
	background: url(../img/activityHui.png) no-repeat;
	margin-top: 20px;
}
.b05 ul li:nth-child(2) a{
	width: 350px;
	height: 80px;
	font-size: 26px;
	font-weight: bold;
	line-height: 80px;
	color: #FFFFFF;
	margin-left: 28px;	
	text-decoration: none;
}
.b05 ul li:nth-child(3){
	background: url(../img/activityLanhover.png) no-repeat;
	margin-top: 20px;
}
.b05 ul li:nth-child(3):hover{
	background: url(../img/activityLan.png) no-repeat;
	
}
.b05 ul li:nth-child(3) a{
	width: 350px;
	height: 80px;
	font-size: 26px;
	font-weight: bold;
	line-height: 80px;
	color: #FFFFFF;
	margin-left: 28px;	
	text-decoration: none;
}
.box06{
	width: 100%;
	height: 180px;
	background: #FFFFFF;
}
.box07{
	width: 60%;
	height: 180px;
	margin:  0 auto;
}
.box07 img{
	margin-top: -42px;
	margin-left: 10px;
}
.box08{
	width: 100%;
	height: 150px;
	margin:  0 auto;
	background: #666666;
}
.box09{
	width: 46%;
	height: 150px;
	margin: 0 auto;
}
.box09 ul{
	width: 100%;
	height: 73px;
	margin: 0 auto;
}
.box09 ul li{
	width: 100px;
	height: 20px;
	text-align: center;
	float: left;
	font-size: 12px;
	border-right: 2px solid #FFFFFF;
	margin-left: 30px;
	margin-top: 30px;
}
.box09 a{
	color: #FFFFFF;
}
.box09 p{
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
}
.box09 ul li:last-child{
	border-right: none;
}